<div lang="en">
<head>
    <meta charset="UTF-8" />
    <title>opot统计工具测试版</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <style>
        .theTable{
            width: 50%;
            margin-left: 25%;
            margin-top: 4%;
        }
        .zonglan{
            margin-left: 25%;
            margin-top: 2%;
        }
        .tableBody{
            text-align: center;
        }
    </style>
</head>

<body>
<h1 align="center">用户信息统计</h1>
<div class="zonglan">
    <h4 id="userSum" >用户总数：</h4><br>
    <h4><b id="today"></b>&nbsp&nbsp&nbsp&nbsp<b id="yesterday"></b>&nbsp&nbsp<b id="dayBeforeYesterday"></b></h4>
</div>
<div class="theTable">
<table id="myTable" class="display">
    <thead>
    <tr>
        <th>用户名</th>
        <th>今天搜索量</th>
        <th>昨天搜索量</th>
        <th>前天搜索量</th>
    </tr>
    </thead>
    <tbody id="tbody-result" class="tableBody">
    </tbody>
</table>
</div>

<script>
    $(document).ready( function () {
        //渲染表格
        var t=$('#myTable').DataTable();
        $.ajax({
            url:'count/getUserInfo',
            type:'get',
            success:function (result) {
                var json = result;
                for (i in json) {
                    t.row.add([
                        json[i].username,
                        json[i].today,
                        json[i].yesterday,
                        json[i].dayBeforeYesterday
                    ]).draw(false);

                }

            }
        });


        //获取用户总量
        var userSum = window.document.getElementById("userSum");
        $.ajax({
            url:'count/countUsers',
            type:'get',
            success:function (result) {
                userSum.innerHTML = "<b>用户总数："+result+"</b>";
            }
        });
        //获取最近三天搜索总量
        var today=window.document.getElementById("today");
        var yesterday = window.document.getElementById("yesterday");
        var dayBeforeYestoday=window.document.getElementById("dayBeforeYesterday")

        //获取今日搜索量
        $.ajax({
            url:'count/getDayNum?day=0',
            type:'get',
            success:function (result) {
                today.innerHTML="今日搜索量："+result;
            }
        });
        //昨日搜索量
        $.ajax({
            url:'count/getDayNum?day=-1',
            type:'get',
            success:function (result) {
                yesterday.innerHTML="昨日搜索量："+result;
            }
        });
        //前日搜索量
        $.ajax({
            url:'count/getDayNum?day=-2',
            type:'get',
            success:function (result) {
                dayBeforeYestoday.innerHTML="前日搜索量："+result;
            }
        });
    } );
</script>
</body>
</html>
</div>