<div lang="en">
<head>
    <meta charset="UTF-8" />
    <title>opot统计工具测试版</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        .theTable{
            width: 50%;
            margin-left: 25%;
            margin-top: 4%;
        }
        .zonglan{
            margin-left: 25%;
            margin-top: 2%;
        }
    </style>
</head>

<body>
<h1 align="center">用户信息统计</h1>
<div class="zonglan">
    <h4 id="userSum" >用户总数：</h4><br>
    <h4><b id="today"></b>&nbsp&nbsp&nbsp&nbsp<b id="yesterday"></b>&nbsp&nbsp<b id="dayBeforeYesterday"></b></h4>
</div>
<div class="theTable">
<table id="myTable" class="display">
    <thead>
    <tr>
        <th>用户名</th>
        <th>今天搜索量</th>
        <th>昨天搜索量</th>
        <th>前天搜索量</th>
    </tr>
    </thead>
    <tbody id="tbody-result">

    </tbody>
</table>
</div>

<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
</script>



</body>


 <script>
    $(function () {
        //表格初始化
        var tbody = window.document.getElementById("tbody-result");
        $.ajax({
            url:'count/getUserInfo',
            type:'get',
            success:function (result) {
                var json = result;
                var str = "";
                for (i in json) {
                    str += "<tr>" +
                        "<td align='center'>" + json[i].username + "</td>" +
                        "<td align='center'>" + json[i].today+ "</td>" +
                        "<td align='center'>" + json[i].yesterday + "</td>" +
                        "<td align='center'>" + json[i].dayBeforeYesterday+ "</td>" +
                        "</tr>";
                }
                tbody.innerHTML = str;
            }
        })


        //获取用户总量
        var userSum = window.document.getElementById("userSum");
        $.ajax({
            url:'count/countUsers',
            type:'get',
            success:function (result) {
                userSum.innerHTML = "<b>用户总数："+result+"</b>";
            }
        })


        //获取最近三天搜索总量
        var today=window.document.getElementById("today");
        var yesterday = window.document.getElementById("yesterday");
        var dayBeforeYestoday=window.document.getElementById("dayBeforeYesterday")

        //获取今日搜索量
        $.ajax({
            url:'count/getDayNum?day=0',
            type:'get',
            success:function (result) {
                today.innerHTML="今日搜索量："+result;
            }
        });
        //昨日搜索量
        $.ajax({
            url:'count/getDayNum?day=-1',
            type:'get',
            success:function (result) {
                yesterday.innerHTML="昨日搜索量："+result;
            }
        });
        //前日搜索量
        $.ajax({
            url:'count/getDayNum?day=-2',
            type:'get',
            success:function (result) {
                dayBeforeYestoday.innerHTML="前日搜索量："+result;
            }
        });

    });



</script>
</html>
</div>